<head>
  <style>
  .show-cat{
    display: inline;
    padding: 20px;

  }

  li{
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: gray;
    color: white;
    margin: 10px;
  }
  img{
    list-style: none;
    max-height: 500px;
    width: 500px;
  }

  .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  button{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 4px;
    width: 300px;
    height: 30px;
    font-size: 16px;
  }

    button:hover{
      color: black;
      background-color: white;
    }

  a{
    color: inherit;
    text-decoration: none;
  }
  </style>
</head>

<body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
<% $img_url = 'https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb'%>

  <li>
    <h3 class='show-cat'>You are viewing: <%= $show_cat.name %> <h3>
    <img class="cat-img" src='<%=$img_url%>'>
    <div class="btn-wrapper">
      <button> <a href='<%="/cats/#{$show_cat.id}/edit"%>'> edit cat <a></button>
      <button> <a href='<%="/cats/#{$show_cat.id}/delete"%>'>Delete</a></button>
    </div>

  </li>
